/*============================================================================
  Responsive tables, defined with .responsive-table on table element.
==============================================================================*/
.responsive-table {
    border-collapse: collapse;
    border-bottom: 1px solid #e1e1e1;

    th {
        padding: 10px;
        text-align: left;
    }

    td {
        padding: 10px;
        border-top: 1px solid #e1e1e1;
    }

    @include breakpoint(small) {
        width: 100%;

        thead {
            display: none;
        }

        tr {
            display: block;

            td:nth-child(2) {
                border-top: 0;
            }
        }

        // IE9 table layout fixes
        tr,
        td {
            float: left;
            clear: both;
            width: 100%;
        }

        th,
        td {
            display: block;
            margin: 0;
            padding: 15px;
            text-align: right;
        }

        td::before {
            content: attr(data-label);
            float: left;
            padding-right: 10px;
            text-align: center;
        }

        // Add a keyline between rows
        .responsive-table-row + .responsive-table-row,
        tfoot > .responsive-table-row:first-child {
            position: relative;
            margin-top: 10px;
            padding-top: 30px;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                border-bottom: 2px solid $color-primary;
            }
        }
    }
}
