/*================ Slate specific reset ================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

a:focus {
    color: inherit;
}

img {
    max-width: 100%;
}

/*================ Form element helpers ================*/
form {
    margin: 0;
}

// Prevent zoom on touch devices in active inputs
@include media-query($medium-down) {
    input,
    textarea,
    select {
        font-size: 16px;
    }
}

button,
input[type="submit"],
label[for] {
    cursor: pointer;
}

optgroup {
    font-weight: $font-weight-bold;
}

// Force option color (affects IE only)
option {
    background-color: $color-body;
    color: $color-body-text;
}

// hide outline on focus for elements which are given focus by JS
[tabindex='-1']:focus {
    outline: none;
}

/*============================================================================
  Fast Tap
  enables no-delay taps (FastClick-esque) on supporting browsers
==============================================================================*/
a,
button,
[role="button"],
input,
label,
select,
textarea {
    touch-action: manipulation;
}
