.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .header-logo{
    width: 240px;
    height: 70px;
  }

  .site-nav > a {
    color: black;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}